doctype html
html(lang="en")
  head
    include partials/header
  body.login 
    .container-form   
      h1 #{namePage}
      p Add your email and we will send you a link to reset your password.

      if Object.keys(locals.messages).length
        .alert
          each category in Object.keys(locals.messages)
            each error in messages[category]
              .alert(class=`${category}`)
                p #{error}
                
      form.box-login(method="post" action="/forgot-password")
        .campo
          label(for="email") Email
          input(type="text" name="email" placeholder="Email" value= email)
        .campo.send
          input.button(type="submit" value="Reset password")
        .campo.actions 
          a(href="/login") Login
          a(href="/create-count") Create a new count