doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/app.css")
    title #{namePage}
  body
    header.bar
      h1 UpTask - Project Management
      a(href="#") Logout

    main.container
      aside.container-projects 
        .panel.create-project    
          a(href="/new-project" class="button") New Project
            span +
        .panel.list-projects
          h2 Projects 
          ul#projects.projects 
            if(projects.length > 0)
              each project in projects
                li
                  a(href=`/project/${project.url}`) #{project.name}
            else
              li No projects

            //- li 
            //-   a(href="#") Virtual Store Design
            //- li 
            //-   a(href="#") New Blog Design
            //- li 
            //-   a(href="#") Logo Design      


      block content