extends layout 

include mixins/createProject

block content 
  .content-principal
    h1 #{namePage}

    //- pre #{varDump(project)}

    if errors 
      each error in errors
        .alert.error #{error.text}
    +createProject(project)

