extends layout 

block content 
  .content-principal
    h1 #{namePage}

    if errors 
      each error in errors
        .alert.error #{error.text}

    form.add-project(action="/new-project" method="post")
      .campo
        label(for="name") Name Project
        input(type="text" name="name" id="name" placeholder="Name Project")
      .campo.send 
        input(type="submit" value="Add Project" class="button")