doctype html
html(lang="en")
  head
    include partials/header
  body.login 
    .container-form   
      h1 #{namePage}
      p Enter your new password
                
      form.box-login(method="post")
        .campo
          label(for="password") Password
          input(type="password" name="password" placeholder="Password")
        .campo.send
          input.button(type="submit" value="Reset password")