doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style   
      include ./email.css
  body 
    h2 Reset Password 
    p Hello, you have requested to reset your password, click on the following link to reset it
    a(href=`${resetUrl}`) go to reset password
    p If you can't access the link, visit #{resetUrl}
    p If you did not request this email, you can ignore it